server:
  port: ${PORT:8080}
spring:
  application:
    name: MyWill
  datasource:
    url: ${{SPRING_DATASOURCE_URL}}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  mail:
    host: smtp.gmail.com
    port: 465
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - email
              - profile

jwt:
  secret: ${JWT_SECRET}
  expirationMs: ${JWT_EXPIRATIONMS:86400000}

app:
  # URL фронтенда, на который будет редирект после успешного OAuth2-логина
  frontend-base-url: ${FRONTEND_BASE_URL}
  death-check:
    fixed-rate: 86400

logging:
  level:
    org.mywill: TRACE